/** @format */

.body-page {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #171717;
}
.container {
  max-width: 1460px;
  margin: 0 auto;
}
.header {
  padding-top: 37px;
  padding-bottom: 60px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  padding: 10px 25px;
  color: #e4b564;
  border: 1px solid #e4b564;
}
.main {
  padding-bottom: 238px;
}
.works {
  padding-top: 60px;
  padding-bottom: 160px;
  background-image: url(../img/bg-one.jpeg);
  background-size: cover;
  background-attachment: fixed;
}
.title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
}
.works-text {
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  max-width: 1182px;
  text-align: left;
}
.works-menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, minmax(468px, auto));
  gap: 29px;
}

.work-item {
  padding-left: 44px;
  padding-right: 44px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work-1 {
  grid-column: 1 / span 2;
  background-color: #634f2c;
}
.work-2 {
  grid-column: 3 / span 2;
  background-color: #b4a385;
  text-align: center;
}
.work-3 {
  grid-column: 5 / span 2;
  background-color: #e4b564;
}
.work-4 {
  grid-column: 1 / span 3;
  background-color: #635a4a;
}
.work-5 {
  grid-column: 4 / span 3;
  background-color: #b08c4d;
}
.cars {
  padding-top: 80px;
  padding-bottom: 190px;
  background-image: url(../img/bg-two.jpeg);
  background-size: cover;
  background-attachment: fixed;
}
.cars-menu {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 94px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  height: 950px;
}
.car-item {
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  min-width: 467px;
  padding-left: 48px;
  padding-top: 44px;
}
.color-bold {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}
.car-1 {
  background-color: #0e0e0e;
  min-height: 313px;
}
.car-2 {
  background-color: #1f1f1f;
  min-height: 560px;
}
.car-3 {
  background-color: #242424;
  min-height: 439px;
}
.car-4 {
  background-color: #e4b564;
  min-height: 405px;
  color: #000000;
}
.car-5 {
  background-color: #1f1f1f;
  min-height: 255px;
}
.car-6 {
  background-color: #0e0e0e;
  min-height: 313px;
}
.car-7 {
  background-color: #0a0909;
  min-height: 277px;
  font-weight: 700;
}
.proects {
  /* background-color: #0e0e0e; */
  padding-top: 172px;
  background-image: url(../img/bg-one.jpeg);
  background-size: cover;
  background-attachment: fixed;
}
.proects-menu {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 72px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.proect-item {
  min-height: 391px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proect-text {
  margin-top: 16px;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
}

.proect-1,
.proect-6 {
  background-color: #634f2c;
}
.proect-2 {
  background-color: #e8d2ab;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proect-3 {
  background-color: #e4b564;
}
.proect-4 {
  background-color: #635a4a;
}
.proect-5 {
  background-color: #b08c4d;
}
